---
apiVersion: v1
kind: Pod
metadata:
 name: myapp
spec:
 containers:
   - name: myapp
     image: kumarmitdocker/devops:8

---
apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8084
